<!DOCTYPE html>
<html lang="pt-br">
<style>
    
    html {
      background-color: #EEDFCC;
    }
  
    body {
      width: 600px;
      margin: 0 auto;
      background-color: #FF9500;
      padding: 0 20px 20px 20px;
      border: 5px solid black;
    }
  
    h1 {
      margin: 0;
      padding: 20px 0;
      color: #00539F;
      text-shadow: 3px 3px 1px black;
    }
    
    img {
      display: block;
      margin: 0 auto;
    }
  
</style>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <title>Motivos Para nao Usar Lança</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Não Use Drogas</h2>
    <p>Tipo de Drogas</p>
    <ul>
      <li>Maconha</li>
      <li>Cocaina</li>
      <li>crack</li>
      <li>Bala</li>
      <li>Doce</li>
      <li>Metanfetamina</li>
  </ul>
  <h2>Efeitos do uso das Drogas</h2>
  <ul>
      <li>Cancêr</li>
      <li>Infarto</li>
      <li>Agressividade</li>
      <li>Depressão</li>
      <li>Demência</li>
      <li>Psicose</li>
      <li>Doença no pulmão</li>
  </ul>
  <h2>Prevenção ao Uso das Drogas</h2>
  <ul>
      <li>Diga Não</li>
      <li>Escolha melhores Companhias</li>
  </ul>
  <a href="#topo">Voltar para o topo</a>

  </body>
</html>
